@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.marquee {
    overflow: hidden;
}

.marquee-content {
    display: flex;
    animation: scrolling 35s linear infinite;
}

.marquee-item {
    flex: 0 0 30%;
    margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
    display: flex;

    justify-content: center;
    align-items: center;
}

.marquee-item img {
    justify-self: center;
    align-self: center;
    display: block;
    width: 50%;
    /*   padding: 0 20px; */
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translatex(-144vw);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
